html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  background-color: #eee;
  margin-top: 3rem; }

.container {
  max-width: 1440px;
  width: 95%; }

img {
  max-width: 100%; }

.title, .button, .nav {
  font-family: 'Raleway', sans-serif; }

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem auto; }

.nav {
  margin-left: auto;
  font-size: 1.2rem; }
  .nav__items {
    list-style: none;
    padding: 0;
    display: flex; }
  .nav__item + .nav__item {
    margin-left: 1rem; }
  .nav__link {
    text-decoration: none; }
  .nav__link:link, .nav__link:visited, .nav__link:active {
    text-decoration: none;
    color: #070439; }
  .nav__link:hover {
    opacity: 0.6; }

.hero {
  text-align: center;
  margin: 5rem auto;
  color: #070439; }
  .hero__title {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4; }
  .hero__para {
    margin-top: 1.5rem;
    line-height: 1.4;
    font-size: 1.2rem; }
  .hero__form {
    margin-top: 1.5rem; }
  .hero__email {
    width: 100%;
    font-size: 1.3rem; }
  .hero__error {
    display: block;
    position: absolute;
    top: 3.5rem; }
  .hero__button {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.3rem; }

.middle-section {
  margin: 8rem auto; }
  .middle-section__title {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center; }
  .middle-section__para {
    margin-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem; }
  .middle-section__link {
    margin-top: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 0.5rem; }
    .middle-section__link img {
      width: 1.5rem; }
    .middle-section__link a {
      text-decoration: none;
      border-bottom: 1px solid; }
    .middle-section__link a:link, .middle-section__link a:visited, .middle-section__link a:active {
      text-decoration: none;
      color: #3c9f8f; }
    .middle-section__link a:hover {
      opacity: 0.6; }

.testimonials-quote {
  background-color: white;
  max-width: 400px;
  margin: 3rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3); }
  .testimonials-quote__para {
    max-width: 75ch;
    line-height: 1.6; }

.user {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem; }
  .user__photo img {
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .user__name {
    font-weight: bold; }

.early-access {
  background-color: #575989;
  color: white;
  text-align: center;
  padding: 4rem 2rem; }
  .early-access__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4; }
  .early-access__para {
    margin-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem; }
  .early-access__form {
    margin-top: 1rem; }
  .early-access__email {
    border: none;
    width: 100%;
    font-size: 1.3rem; }
  .early-access__error {
    display: block; }
  .early-access__button {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.3rem; }

.footer {
  background-color: #070439;
  padding: 4rem 2rem;
  color: white;
  font-size: 1.2rem; }
  .footer__icon-logo {
    filter: invert(100%) sepia(0) saturate(100%) hue-rotate(3deg) brightness(10000%) contrast(100%); }
  .footer__contact {
    margin-top: 1rem; }
  .footer__phone::before {
    content: "";
    background: no-repeat url(../images/icon-phone.svg);
    width: 45px;
    height: 17px;
    display: inline-block;
    vertical-align: middle; }
  .footer__email::before {
    content: "";
    background: no-repeat url(../images/icon-email.svg);
    width: 45px;
    height: 17px;
    display: inline-block;
    vertical-align: middle; }
  .footer__email {
    margin-top: 0.5rem; }
  .footer__links {
    margin: 2rem 0;
    list-style: none;
    padding: 0; }
  .footer__link + .footer__link {
    margin-top: 0.5rem; }
  .footer__social {
    display: flex;
    justify-content: center;
    gap: 0.5rem; }

input, button {
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  outline: none;
  border: 1px inset #070439;
  display: inline-block; }

.button {
  cursor: pointer;
  border: none;
  background-color: #2f65f9;
  font-weight: bold;
  color: white;
  text-transform: capitalize; }

.button:hover,
.button:focus,
.button:focus-visible {
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.7; }

input::placeholder {
  color: gray; }

input:focus,
input:focus-visible {
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3); }

i.fa {
  padding: 0.7rem;
  border-radius: 99rem;
  width: calc(2.5rem + 2px);
  height: calc(2.5rem + 2px);
  border: 1px solid white;
  cursor: pointer; }

i.fa:hover {
  border: 1px solid #585989;
  color: #585989; }

@media (min-width: 750px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1rem;
    text-align: initial; }
    .hero__content {
      max-width: 75ch; }
    .hero__form {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      position: relative; }
      .hero__form button {
        margin: 0;
        width: 30%; }
      .hero__form input {
        width: 50%; }
    .hero__error {
      position: absolute;
      top: 3.5rem; }
  .middle-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1rem; }
    .middle-section__content {
      max-width: 75ch; }
    .middle-section__title {
      text-align: initial; }
    .middle-section__link {
      justify-content: initial; }
  .testimonials-quote {
    margin: 3rem 0; }
  .early-access {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: initial; }
    .early-access__content {
      max-width: 75ch; }
    .early-access__form .button {
      width: max-content; }
  .footer {
    display: flex;
    justify-content: space-around;
    text-align: initial;
    padding: 4rem 0; }
    .footer__social {
      margin: 2rem 0; } }
