// primary
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$blue: #2f65f9;
// Accent
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
// Neutral
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9375rem;
    background-color: #eee;
    margin-top: 3rem;
}

.container {
  max-width: 1440px;
  width: 95%;
}

img {
    max-width: 100%;
}

.title, .button, .nav {
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
}

.nav {
    margin-left: auto;
    font-size: 1.2rem;

    &__items {
        list-style: none;
        padding: 0;
        display: flex;
    }

    &__item + &__item {
        margin-left: 1rem;
    }

    &__link {
        text-decoration: none;
    }

    &__link:link, &__link:visited, &__link:active {
        text-decoration: none;
        color: $very-dark-blue;
    }

    &__link:hover {
        opacity: 0.6;
    }

}

.hero {
    text-align: center;
    margin: 5rem auto;
    color: $very-dark-blue;

    &__title {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
    }

    &__para {
        margin-top: 1.5rem;
        line-height: 1.4;
        font-size: 1.2rem;
    }

    &__form {
        margin-top: 1.5rem;
    }

    &__email {
        width: 100%;
        font-size: 1.3rem;
    }

    &__error {
      display: block;
      position: absolute;
      top: 3.5rem;
    }

    &__button {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.3rem;
    }
}

.middle-section {
    margin: 8rem auto;

    &__title {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
    }

    &__para {
        margin-top: 1rem;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    &__link {
        margin-top: 1.5rem;
        font-size: 1rem;

        display: flex;
        justify-content: center;
        column-gap: 0.5rem;

        img {
            width: 1.5rem;
        }

        a {
            text-decoration: none;
            border-bottom: 1px solid;
        }

        a:link, a:visited, a:active {
            text-decoration: none;
            color: $moderate-cyan;
        }

        a:hover {
            opacity: 0.6;
        }

    }
}

.testimonials-quote {
    background-color: white;
    max-width: 400px;
    margin: 3rem auto;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);

    &__para {
        max-width: 75ch;
        line-height: 1.6;
    }
}

.user {
    display: flex;
    column-gap: 1rem;
    margin-top: 1.5rem;

    &__photo img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    &__name {
        font-weight: bold;
    }
}


.early-access {
    background-color: #575989;
    color: white;
    text-align: center;
    padding: 4rem 2rem;

    &__title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
    }

    &__para {
        margin-top: 1rem;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    &__form {
        margin-top: 1rem;
    }

    &__email {
        border: none;
        width: 100%;
        font-size: 1.3rem;
    }

    &__error {
      display: block;
    }

    &__button {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.3rem;
    }
}

.footer {
  background-color: $very-dark-blue;
  padding: 4rem 2rem;
  color: white;
  font-size: 1.2rem;

    &__icon-logo {
      filter: invert(100%) sepia(0) saturate(100%) hue-rotate(3deg) brightness(10000%) contrast(100%)
    }

    &__contact {
      margin-top: 1rem;
    }

    &__phone::before {
        content: "";
        background: no-repeat url(../images/icon-phone.svg);
        width: 45px;
        height: 17px;
        display: inline-block;
        vertical-align: middle;
    }

    &__email::before {
        content: "";
        background: no-repeat url(../images/icon-email.svg);
        width: 45px;
        height: 17px;
        display: inline-block;
        vertical-align: middle;
    }

    &__email {
        margin-top: 0.5rem;
    }


    &__links {
        margin: 2rem 0;
        list-style: none;
        padding: 0;
    }

    &__link + &__link {
        margin-top: 0.5rem;
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}


input, button {
    padding: 0.8rem 1rem;
    border-radius: 0.2rem;
    outline: none;
    border: 1px inset $very-dark-blue;
    display: inline-block;
}

.button {
    cursor: pointer;
    border: none;
    background-color: $blue;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.button:hover,
.button:focus,
.button:focus-visible {
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

input::placeholder {
    color: gray;
}

input:focus,
input:focus-visible {
  box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

i.fa {
  padding: 0.7rem;
  border-radius: 99rem;
  width: calc(2.5rem + 2px);
  height: calc(2.5rem + 2px);
  border: 1px solid white;
  cursor: pointer;
}

i.fa:hover {
  border: 1px solid $desaturated-blue;
  color: $desaturated-blue;
}


@media (min-width: 750px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1rem;

    text-align: initial;

    &__content {
      max-width: 75ch;
    }

    &__form {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      position: relative;

      button {
        margin: 0;
        width: 30%;
      }

      input {
        width: 50%;
      }
    }

    &__error {
      position: absolute;
      top: 3.5rem;
    }
  }

  .middle-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1rem;

    &__content {
      max-width: 75ch;
    }

    &__title {
      text-align: initial;
    }

    &__link {
      justify-content: initial;
    }
  }

.testimonials-quote {
    margin: 3rem 0;
  }

  .early-access {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: initial;

    &__content {
      max-width: 75ch;
    }

    &__form {
      width: 35%;
      .button {
        width: max-content;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;
    text-align: initial;
    padding: 4rem 0;

    &__social {
      margin: 2rem 0;
    }
  }
}
